# API MODE Service, Integration, OnPrem
WEBEX_API_MODE=Service

# WEBEX SERVICE CREDENTIALS
WEBEX_SERVICE_CLIENT_ID=
WEBEX_SERVICE_CLIENT_SECRET=

WEBEX_SERVICE_ACCESS_TOKEN=
WEBEX_SERVICE_REFRESH_TOKEN=
# WEBEX INTEGRATION CREDENTIALS

WEBEX_INTEGRATION_CLIENT_ID=C
WEBEX_INTEGRATION_CLIENT_SECRET=
WEBEX_INTEGRATION_REDIRECT_URI=

## Filled after auth
WEBEX_INTEGRATION_ACCESS_TOKEN=
WEBEX_INTEGRATION_REFRESH_TOKEN=
WEBEX_INTEGRATION_CODE=


# ON PREMISES DEVICE CREDENTIALS
WEBEX_USERNAME=integrator
WEBEX_PASSWORD=integrator


# Flask Dev
FLASK_ENV=development
